# Build Folders
bin/
obj/
out/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code and Visual Studio
.vscode/
.vs/

# JetBrains Rider
.idea/

# Logs
*.log
logs/

# ASP.NET Core
appsettings.Development.json
wwwroot/lib/

# Dotnet artifacts
artifacts/
project.lock.json
project.fragment.lock.json

# Docker
*.dockerignore
docker-compose*

# OS-generated
.DS_Store
Thumbs.db

# Node/npm (if you have frontend assets)
node_modules/

# Others
*.db
*.sqlite
*.pdb
*.tmp
*.cache